{
  "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"Check\":{\"type\":\"object\",\"properties\":{\"description\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"status\":{\"type\":\"string\"}}},\"PullRequest\":{\"type\":\"object\",\"properties\":{\"author\":{\"type\":\"string\"},\"checks\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/$defs/Check\"}},\"createdAt\":{\"type\":\"string\"},\"testingEvidence\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"}}}},\"type\":\"object\",\"properties\":{\"pull_request\":{\"$ref\":\"#/$defs/PullRequest\"}}}",
  "resources": {
    "styles": {
      "bootstrap.min.css": "https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    },
    "scripts": {
      "jquery.js": "https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js",
      "bootstrap.bundle.min.js": "https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    }
  }
}